/* 
    File for website wide css

    If a single page requires specific changes please create a separate css file
*/

/* Use colour variables from css for consistency */
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200..1000&display=swap');

@import "tailwindcss";


@layer utilities {
  .scrollbar-hide-ingredient::-webkit-scrollbar {
    display: none; /* Chrome, Safari */
  }
  .scrollbar-hide-ingredient {
    -ms-overflow-style: none; /* IE, Edge */
    scrollbar-width: none; /* Firefox */
  }
}


* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
}


html {
    background-color: var(--background-colour);
    color: var(--text-colour);
}

body {
    font-family: 'Nunito', sans-serif;
}

* {
    font-family: inherit;
}

a {
    color: inherit;
    cursor: pointer;
}

button {
  cursor: pointer;
}

.roboto{
    font-family: "Roboto", sans-serif;
}

.cinzel-decorative-regular {
  font-family: "Cinzel Decorative", serif;
  font-weight: 400;
  font-style: normal;
}

.cinzel-decorative-bold {
  font-family: "Cinzel Decorative", serif;
  font-weight: 700;
  font-style: normal;
}

.cinzel-decorative-black {
  font-family: "Cinzel Decorative", serif;
  font-weight: 900;
  font-style: normal;
}